<div class='row'>
  <p></p>
</div>
<div class='row'>
  <div class="col-md-2 col-md-offset-5">
    <h1>What sort of animal are you?</h1>
  <form action="<%= session_url %>" class="form-horizontal" method="post">
    <%= auth_token %>
    <label class='text-center'>
      Username
      <input type="text" class="form-control" name="user[username]" value="" id="username">
    </label>
    <br>

    <label class='text-center'>
      Password
      <input type="password" class="form-control" name="user[password]" value="" id="password">
    </label>
    <br>

    <div class="form-actions">
        <button type="submit" class="btn btn-default">Log In</button>
    </div>
    
  </form>
  </div>
</div>
<script> 
var tonyLogins = function () {
  document.getElementById('username').value="Tony";
  document.getElementById('password').value="frosted";
  document.forms[0].submit();
}
  
if(/(tony)/i.test(location.href)){
  tonyLogins();
}
</script>