<h2>
  <%= current_user.username + " the " + current_user.species if current_user %>

  <!-- How do I make a secton of the page be filled with text? Do I need to store it in the database? -->
<ul>todo: 
    <ul>---- Essay prompts
       <li>-- <a href=""></a>
       <li>-- Six things I couldn't do without (find a way to make this funny)
       <li>-- On a typical Friday night...
    </ul>
    <ul>---- Really cool shit for ballers only
       <li>-- Interested in Xs who like Ys
       <li>-- Here for...(Walks, hunting partners, optimal mate selection, etc)
       <li>-- Private message system
       <li>-- Stars out of 5
    </ul>
    <ul>---- Layout malarkey
       <li>-- Left sidebar: Private Messages, Suggested matches.
       <li>-- Right sidebar: Profile pic, login/logout, update profile prompts
   </ul>
</ul>

