/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.leftbar-button {
    width: 176px !important;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

textarea {
  height: auto;
  width: 50%;
}

img {
  width:33%;
}


#delta {
  text-align: center;
}

body{
  background-color: #9834A8;
}

.logo, a.logo:hover, a.logo:visited, a.logo:active{
  color:inherit;
  text-decoration: none;
}

.red {
  color:red;
}

.essays{
  background-color: white;
  float:none;
  margin:auto;
  width: 60%;
  height: 100%;
}


.rightbar{
  position: relative;
  right:0px;
  height: 100%;
}

.text-center{
  color: white;
}

.okz-header{
  background-image: linear-gradient(to bottom,#3D17E7 0, #903AAB 100%);
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-shadow: 0 1px 0 rgba(202, 0, 234, 0.46);
}

.bg-primary {
background-color: #143C5F;
}

.tab_bg{
  background: rgba(0, 0, 0, 0.16);
}

.form-control{
  color:black;
}
