<div class="col-xs-2">
  <div id="leftbar" class="sidebar">
    <div class="mail">
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-envelope"></span> 
        <a href="/mail">Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
      </button>
    </div>
    
    <div class="mail">
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-heart"></span> 
        <a href="/users">Find someone!</a> 
      </button>
    </div>
  </div>
</div>